APP_NAME=DAMA

APP_ENV=development

APP_PORT=8000

POSTGRES_DB=dama

POSTGRES_USER=dama

POSTGRES_PASSWORD=dama

POSTGRES_HOST=db

POSTGRES_PORT=5432

REDIS_HOST=redis

REDIS_PORT=6379

OLLAMA_HOST=http://host.docker.internal:11434